.cabecera{
    width: 1530px;
     height: 90px;
     background: #ffffff;
}
.contenido{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:flex-start;
    height: 90px;
    width: 100%;
}
.logo1{
    width: 50px;
    height: 50px;
    padding: 5px;
}
.contenido-izquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    margin-left: 100px;
}
.txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    margin-left: 35px;
    font-family: Arial;
}
.txt2bloque{
    margin-right: 35px;
    font-size: initial;
    color: rgb(102, 102, 102);
    font-family: Arial;
}
.txtlogo{
    font-size: x-large;
    color: rgb(102, 102, 102);
    font-family: Arial;
}
.demo{
    margin-right: 35px;
    font-size: initial;
    color: rgb(146 113 232);
    font-family: Arial;
}
.img-login{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.contenido-dra{
    display: flex;
    width: 30%;
    height: 90px;
    align-items: center;
    justify-content: center;
}
.recuadro-singup{
    background-color: rgb(106 61 243 / 77%);
    height: 50px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-singin{
    display: flex;
    align-items: center;
}
.txt-singup{
    font-size: initial;
    color: rgb(255, 255, 255);
    font-family: Arial;
}